<div class="box-login">
    <div class="headers">
        <p class="title-style">登錄</p>
        <p class="title-style-2">ChargeMyEV</p>
    </div>
    <div class="box-login-info" >
        <div class="margin-small-change">
            <p class="font-style-1">使用者名稱</p>
            <p class="font-style-2">使用者名稱</p>
            <input type="text">
            <hr class="bold-hr">
        </div>
        <div>
            <p class="font-style-1">密碼</p>
            <p class="font-style-2">密碼</p>
            <input type="text">
            <hr class="bold-hr">
        </div>
        <div class="box-footer">
            <div><a class="center-item font-link-p">忘記密碼了嗎？</a></div>
            <button style="margin-left: 9%; width: 80%;" class="button-style center-item" >登錄</button>
            <div class="center-item">
                <a class="font-link-p">註冊</a>
                <span>&nbsp;-&nbsp;</span>
                <a class="font-link-p">私人使用者</a>
            </div>
            <div class="center-item font-link-p">
                <a class="link" href="/company-info">關於我們</a>
            </div>
        </div>
    </div>
</div>
