<div class="box-company">
    <div class="header">
        <a class="link" href="/boschtw">Back</a>
        <div class="title-style-h">公司信息</div>  
    </div>
    <hr class="bold-hr">
    <hr class="bold-hr">
    <div>
        <p class="title-style-spe">台灣羅伯特博世股份有限公司</p>
        <p class="title-style">所在地：<span style="font-weight:lighter;">台灣</span></p>
        <p class="title-style">電話:</p>
        <p style="font-weight:lighter; font-size: 20px;">+886 2 7734 2580</p>
        <p class="title-style">統一編號</p>
        <p style="font-weight:lighter; font-size: 20px;"s>80272572</p>
    </div>
</div>